Create procedure UsageDetail_Add @MASIM INT,@BATDAU DATETIME,@KETTHUC DATETIME,@SAU23H INT,@SAU7H INT,@CUOCPHI MONEY
as
begin
	insert into CHITIETSUDUNG (MASIM,BATDAU,KETTHUC,SOPHUTSUDUNGSAU23H,SOPHUTSUDUNGSAU7H,CUOCPHI)
	values(@MASIM,@BATDAU,@KETTHUC,@SAU23H,@SAU7H,@CUOCPHI)
end
go

create procedure UsageDetail_Load
as
begin
	select  MASIM,BATDAU,KETTHUC,SOPHUTSUDUNGSAU23H,SOPHUTSUDUNGSAU7H,CUOCPHI from CHITIETSUDUNG
end
go
--

create procedure UsageDetail_Search @MASIM INT
as
begin
	select MASIM,BATDAU,KETTHUC,SOPHUTSUDUNGSAU23H,SOPHUTSUDUNGSAU7H,CUOCPHI from ChiTietSuDung
	where MASIM = @MASIM
end
go

exec UsageDetail_Search 1

select * from CHITIETSUDUNG
USE QLCuocDienThoai



Create procedure HoaDonTinhCuoc_Add @MASIM INT, @TONGTIEN money, @THANG INT,@NAM INT,@THANHTOAN INT
as
begin
	insert into HOADONTINHCUOC(MASIM,TONGTIEN,THANG,NAM,THANHTOAN)
	values(@MASIM,@TONGTIEN,@THANG,@NAM,@THANHTOAN)
end
go